
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}
body{
    background-color: black;
    color: white;
}
.cross{
    display: none;
}
.left{
    width: 25vw;
}

.right{
    width: 75vw;
    position: relative;
}

.home{
    padding: 20px;
}

.home ul li{
    display: flex;
    gap:15px;
    width:25px;
    list-style: none;
    padding-top: 14px;
    font-weight: bold;
}

.heading{
    display: flex;
    gap:15px;
    width:100%;
    /* list-style: none; */
    padding-top: 23px 14px;
    font-weight: bold;
    align-items: center;
    font-size: 13px;
    /* vertical-align:center ; */

}

.heading img{
    width: 30px;
}

.library{
    min-height: 80vh;
    position: relative;
}
.footer{
display: flex;
font-size: 10px;
color:grey;
gap:5px;
position:absolute;
bottom:0px;
padding: 10px 0;
margin-left: 10px;
}
.footer a{
    color: grey;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(38, 37, 37);
    max-height:70px;
}
.l-arrow{
    width:10px;

}
.header >*{
    padding: 20px;
}
.spotify-playlist{
    padding: 16px;
}
.spotify-playlist h1{
    padding: 16px;
}
.cardContainer{
    margin: 30px;
    display: flex;
    gap:10px;
    flex-wrap: wrap;
    max-height: 75vh;
    overflow-y: auto;

}
 .card{
    width: 175px;
    padding: 10px;
    border-radius: 15px; 
    background-color: #252525;
    position: relative;
}
.card> *{
    padding-top:10px ;
}
.card img{
    width: 100%;
    object-fit: contain;
}
.play{
    top:160px;
    right:16px;
    position: absolute;
    opacity: 0;
    transition:all 1s ease-out;
}
.Signupbtn{
    background-color: rgb(38, 37, 37);;
    color: rgb(148, 145, 145);
    font-weight: bold;
    border: none;
    outline: none;
    padding: 10px;
}
.Signupbtn:hover{
    font-size: 1.01rem;
    color:white;
    cursor: pointer;
    padding: 10px;
}
.Loginbtn{
    background-color: white;
    color: rgb(0, 0, 0);
    font-weight:bold;
    border-radius: 22px;
    outline: none;
    padding:10px;
    width: 95px;
}
.Loginbtn:hover{
    font-size: 1.01rem;
    cursor: pointer;
    font-weight: bolder;
    padding: 10px 15px;
}
.playbar{
    position: fixed;
    display: flex;
    justify-content:center;
    bottom: 20px;
    background-color: #dad5d5;
    border-radius: 20px;
    width: 71%;
    padding: 20px;
    gap:12px;
    height: 39px;
    filter: invert(1);
    
}
.songButtons{
    gap:16px;
    /* margin-right: 150px; */
}
.songlist{
    height: 655px;
    overflow:auto;
    margin-bottom: 44px;
}
.songlist ul{
    padding: 0;
}

.songlist ul li{
    list-style-type: decimal;
    display: flex;
    gap:12px;
    cursor: pointer;
    border: 1px solid white;
    padding: 15px;
    border-radius: 8px;
}
.playnow{
    display: flex;
    justify-content: center;
    align-items: center;
}
.playnow span{
    font-size:15px ;
    width: 64px;
    gap:10px
}
.info{
    font-size: 13px;
    width:244px;
}

.seekbar{
    height: 5px;
    width: 99%;
    background-color:  black;
    position: absolute;
    bottom: 0;
    border-radius: 10px;
    margin: 6px;
    cursor: pointer;
}

.circle{
    width:13px;
    height: 13px;
    border-radius: 13px;
    background-color: black;
    position: relative;
    bottom: 5px;
    left: 0%;
    transition: left 0.5s ;
}
.songButtons img{
    cursor: pointer;
}
.songinfo,.songtime{
    color: black;
    padding: 0 130px;
}
.abovebar{
    display: flex;
    justify-content: space-between;
}
.hamburger{
    display: none;
}
@media (max-width:1400px){
    .cross{
        display: block;
    }
    .left{
    /* background-color:red; */
    position: absolute;
    left: -150%;
    transition: all .3s;
    z-index: 1;
}
    .right{
        width: 100vw;
        margin: 0;
    }
    .left{
        width: 300px;
        
    }
    .cardContainer{
        margin: 0;
        
    }
    .card{
        width: 90vw;
    }
    .playbar{
        /* height: 10vw; */
        width: 90vw;
        bottom:-80px;
        gap:0px;
        display:flex;
        justify-content: center;
        filter: invert(1);
        font-size:15px;
        margin: 74px 0;
        padding: 5px 0 100px 17px;
        /* padding: 15px 5px 20px 20px; */
        /* margin-left: -25px; */
    }
    .seekbar{
        width: 93vw;
        margin-left: -15px;
        margin-bottom:13px;
    }
    .abovebar{
        flex-direction: column;
        gap: 23px;
        align-items: center;
        padding:0px;
    }
    .nav{
        display: flex;
    }
    .l-arrow{
        width:20px;
        padding:0  10px;
    }
    .hamburger{
        display: block;
        height: 50px;
        width: 50px;
        position: relative;
        top: -15px;
    }
    .cross{
        position: absolute;
        right: 10px;
        top:15px;
    }
    .songinfo,.songtime{
        padding: 0;
    } 
    /* .songtime{
        display: flex;
        width: 134px;
    } */
    
     /* /* .abovebar{
        display: flex;
        gap:0;
        justify-items: normal;
     } */
}